.container {
    margin: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 40px;
    color: #010101;
}
.headline {
    margin: 15px 0;
    font-size: 42px;
}